    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container light-blue lighten-1">
            <a id="logo-container" href="index.html" class="brand-logo"><%=title%></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="demand">需求
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a href="Experts.html">专家宝</a>
                </li>
                <li>
                    <a href="Introduce.html">关于我们</a>
                </li>
                <li>
                    <a href="qiniu">上传附件</a>
                </li>
                <li>
                    <a href="login.html">登陆</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"> <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
<!--     <ul id="nav-mobile" class="side-nav">
        <li>
            <a href="Experts.html">隐患排查</a>
        </li>
        <li>
            <a href="Experts.html">专家宝</a>
        </li>
        <li>
            <a href="Introduce.html">关于我们</a>
        </li>
        <li>
            <a href="login.html">登陆</a>
        </li>
        <li>
            <a href="#">注册</a>
        </li>
    </ul> -->
    <ul id="demand" class="dropdown-content">
        <li><a href="demand/allList">获取全部需求的列表</a></li>
        <li class="divider"></li>
        <li><a href="demand/findById/568a1f9200203f8c0af3368a">根据需求id的获取</a></li>
        <li class="divider"></li>
        <li><a href="demand/save">新增需求</a></li>
    </ul>