<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Parallax Template - Materialize</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container light-blue lighten-1">
            <a id="logo-container" href="index.html" class="brand-logo">HUIMICE</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="Experts.html">隐患排查</a>
                </li>
                <li>
                    <a href="Experts.html">专家宝</a>
                </li>
                <li>
                    <a href="Introduce.html">关于我们</a>
                </li>
                <li>
                    <a href="login.html">登陆</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"> <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
    <ul id="nav-mobile" class="side-nav">
        <li>
            <a href="Experts.html">隐患排查</a>
        </li>
        <li>
            <a href="Experts.html">专家宝</a>
        </li>
        <li>
            <a href="Introduce.html">关于我们</a>
        </li>
        <li>
            <a href="login.html">登陆</a>
        </li>
        <li>
            <a href="#">注册</a>
        </li>
    </ul>
    <div id="index-banner" class="parallax-container" style="margin-top: 46px;">
        <div class="section no-pad-bot">
            <div class="container" style="margin-top: 40px;">
                <h1 class="center orange-text">微工程.专家宝</h1>
                <div class="row center">
                    <h5 class="col s12">找专业的人做专业的事。</h5>
                </div>
                <div class="row center">
                    <a href="http://oa.51drp.com:9909/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">进入会议</a>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="parallax"><img src="imgs/bg7.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">快速开会</h5>
                        <p class="light">会米策信息科技有限公司成立于2015年。是一家服务于轨道交通工程领域的科技信息公司。 公司的主营业务：专家库搜索，网上工程会议，网上工程需求招投标等等。
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">万名专家</h5>
                        <p class="light">
                            公司的创始人均为轨道交通工程领域从业经验数十年的业内专家，且有广泛的设计、施工、建设方面的人脉和背景。
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">phonelink_ring</i></h2>
                        <h5 class="center">移动响应</h5>
                        <p class="light">愿景：公司希望打造一个轨道交通工程领域的专业平台，业内专业人士在此平台发挥自己的技能，获取报酬，提高职业能力。相关工程项目能够在此平台轻易寻找到海量的专业人士解决专业难题。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <div class="col offset-l3 m6">
                        <div class="card-panel grey lighten-5 z-depth-1">
                            <div class="row valign-wrapper">
                                <div class="col s2 hide">
                                    <img src="imgs/1.png" alt="" class="circle responsive-img">
                                    <!-- notice the "circle" class -->
                                </div>
                                <div class="col s12">
                                    <h5 class="black-text">
                点击下方链接，关注我们，你们的支持就是我们最大的帮助。
              </h5>
                                </div>
                            </div>
                            <div class="row valign-wrapper">
                                <div class="col s4">
                                    <a href="http://oa.51drp.com:9909/" id="download-button" class="waves-effect waves-light"><img src="http://img.zcool.cn/community/010c5a557fd48d0000002d5cafff98.jpg" width="80px;"></a>
                                </div>
                                <div class="col s4">
                                    <a href="http://oa.51drp.com:9909/" id="download-button" class="waves-effect waves-light"><img src="http://img.zcool.cn/community/010c5a557fd48d0000002d5cafff98.jpg" width="80px;"></a>
                                </div>
                                <div class="col s4">
                                    <a href="http://oa.51drp.com:9909/" id="download-button" class="waves-effect waves-light"><img src="http://img.zcool.cn/community/010c5a557fd48d0000002d5cafff98.jpg" width="80px;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="imgs/bg6.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container download">
        <div class="section">
            <div class="row">
                <div class="col s6 center">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imgs/android.jpg" style="margin-top: -80px;">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Android<i class="material-icons right">get_app</i></span>
                            <p><a href="#">点击下载</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Android<i class="material-icons right">close</i></span>
                            <img class="activator" src="imgs/android_code.png" width="200" height="200" style="margin: 10px auto;">
                        </div>
                    </div>
                </div>
                <div class="col s6 center">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="imgs/apple.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">iOS<i class="material-icons right">get_app</i></span>
                            <p><a href="#">点击下载</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">iOS<i class="material-icons right">close</i></span>
                            <img class="activator" src="imgs/ios_code.png" width="200" height="200" style="margin: 10px auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="orange">
        <div class="footer-copyright">
            <div class="container">
                Made by
                <a class="orange-text text-lighten-3" href="#">Huimice</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="libs/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="libs/materialize.min.js"></script>
    <script type="text/javascript" src="js/examples.js"></script>
</body>

</html>
