<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Parallax Template - Materialize</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container light-blue lighten-1">
            <a id="logo-container" href="index.html" class="brand-logo">HUIMICE</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="Experts.html">隐患排查</a>
                </li>
                <li>
                    <a href="Experts.html">专家宝</a>
                </li>
                <li>
                    <a href="Introduce.html">关于我们</a>
                </li>
                <li>
                    <a href="login.html">登陆</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"> <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
    <ul id="nav-mobile" class="side-nav">
        <li>
            <a href="Experts.html">隐患排查</a>
        </li>
        <li>
            <a href="Experts.html">专家宝</a>
        </li>
        <li>
            <a href="Introduce.html">关于我们</a>
        </li>
        <li>
            <a href="login.html">登陆</a>
        </li>
        <li>
            <a href="#">注册</a>
        </li>
    </ul>
    <div id="index-banner" class="parallax-container" style="margin-top: 46px;">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
                <div class="row center">
                    <a href="http://oa.51drp.com:9909/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="parallax"><img style="display: block;" src="imgs/bg9.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>
                        <p class="light">会米策信息科技有限公司成立于2015年。是一家服务于轨道交通工程领域的科技信息公司。 公司的主营业务：专家库搜索，网上工程会议，网上工程需求招投标等等。
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>
                        <p class="light">
                            公司的创始人均为轨道交通工程领域从业经验数十年的业内专家，且有广泛的设计、施工、建设方面的人脉和背景。
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>
                        <p class="light">公司本着找专业的人，做专业的事的原则。以自身专业的水准为用户提供专业的服务。搜罗最专业、最全面的专家库，专家专业领域涵盖业内方方面面，专家分类细致入微；网上工程会议可在PC、苹果、安卓等设备上使用，会议流畅且最后生成会议纪要，几乎完全模仿现实工程会议；需求招投标给予从业者们能够各展所能，互相帮助解决难题的同时，也使得从业者的才能能获得相应的回报；同时，公司在这些业务上不收取任何形式的中介费用。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
    愿景：公司希望打造一个轨道交通工程领域的专业平台，业内专业人士在此平台发挥自己的技能，获取报酬，提高职业能力。相关工程项目能够在此平台轻易寻找到海量的专业人士解决专业难题。</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="imgs/bg10.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Contact Us</h4>
                    <p class="left-align light">公司本着找专业的人，做专业的事的原则。以自身专业的水准为用户提供专业的服务。搜罗最专业、最全面的专家库，专家专业领域涵盖业内方方面面，专家分类细致入微；网上工程会议可在PC、苹果、安卓等设备上使用，会议流畅且最后生成会议纪要，几乎完全模仿现实工程会议；需求招投标给予从业者们能够各展所能，互相帮助解决难题的同时，也使得从业者的才能能获得相应的回报；同时，公司在这些业务上不收取任何形式的中介费用。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="imgs/bg8.jpg" alt="Unsplashed background img 3"></div>
    </div>
    <footer class="orange">
        <div class="footer-copyright">
            <div class="container">
                Made by
                <a class="orange-text text-lighten-3" href="#">Huimice</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="libs/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="libs/materialize.min.js"></script>
    <script type="text/javascript" src="js/examples.js"></script>
</body>

</html>
