<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VelocityEffect</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullpage.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="row" style="position: relative;">
        <div class="col s4 offset-s4 box">
            <img class="buddy" src="imgs/bg7.jpg">
        </div>
    </div>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="libs/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="libs/materialize.min.js"></script>
</body>

</html>
